*  {
    box-sizing: border-box;
    font-family:monospace;
    margin:0;
}

body {
    margin:0;
    z-index:999;
    background-image: linear-gradient(-25deg, #ff9f8e, #f7c98c,#d2f78c,#8cf7e0, #85b3f8, #f698ff);
    background-attachment: fixed;
}

#paper {
    z-index:-999;
    position:absolute;
    height: 100vh;
    width:100vw;
    background-color: rgba(0,0,0,0.3);;
    }


.select {
    width:90px;
    text-align:center;
    padding:10px;
    font-size: 12px;;
    border-radius:0px;
    border:none;
    opacity: 1;
    text-transform: uppercase;
    font-weight: bold;
    color :black;
    border-radius: 10px;
    text-shadow: rgb(255, 255, 255) 0px 0 3px;;
    outline : 2px solid white;
}

.selectBox {
    margin-top: 10px;
    box-sizing: border-box;
    display:flex;
    justify-content:center;
    width:100%;
    height:100%;
}

.gamme {
    display:flex;
    justify-content:center;
    width:100%;
    height:100%;
    flex-direction: column;
    text-align:center;
}

.guitar {
    width:98%;
    height:160px;
    background-color: rgb(161, 161, 161);
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    opacity:0.9;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 1%;
    margin-right: 1%;

}

.string {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    height:14.28%;
    border-bottom: 5px solid rgb(12, 12, 12);
    border-left: 3px solid grey;
    font-size: 12px;
    border-top-right-radius: 20px;
}

.string0 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    height:14.28%;
    border-bottom: 5px solid rgb(207, 207, 207);
    border-left: 3px solid grey;
    font-size: 12px;
    border-bottom-left-radius: 20px;
}

.string1 {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    height:14.28%;
    font-size: 12px;
    margin-top :-89px; 
    margin-left: -1px;
}

.roundedOne {
    display:flex;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
    top:-12px;
    margin: 12px auto;
    border-right: 2px solid rgb(255, 255, 255);
  }

  .roundedTwo {
    border-right: 8px double rgb(255, 255, 255);
  }



  .roundedOne label {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 4px;
    top: 4px;
  }
  
  .roundedOne label:after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    left: -8px;
    opacity: 0;
    border-radius: 50px;
    transition: ease 0.3s;
  }

  .roundedOne label:hover::after {
    opacity: 0.9;
    outline: 2px solid white;

  }
  .roundedOne input[type=checkbox] {
    visibility: hidden;
  }

  .roundedOne input[type=checkbox]:checked + label:after {
    opacity: 0.95;
    box-shadow:0 0 3px #ffffff;
    outline:2px solid  white;
  }

label {
    position:absolute;
    color: transparent;
}

label:hover {
    color: white;
    z-index: 99;
    transition: 0.3s ease;
}


#keyDisplay{
    display: flex;
    justify-content:space-around ;
    flex-wrap:wrap;
    margin-top:0px;
    text-align:center;
    padding:10px;
    background-color:rgb(255, 255, 255);
    opacity:0.8;
    border-radius: 10px;
    width:98%;
    margin-left: 1%;
    margin-right: 1%;
}

.key {

    min-width:150px;
    border-radius: 10px;

}

button {
    padding:10px;
    border-radius: 10px;
    background: white;
    border:none;
    transition: 0.1s ease-in;

}

button:hover {
    background-color:black;
    color:white;
}


.titre{
    margin-top:10px;
    padding:10px;
    background-color:black;
    color:white;
    opacity:0.8;
}

.intro{
    margin-top:10px;
    padding:10px;
    background-color:black;
    color:white;
    text-align: justify;
}


#do label:after {
    background-color: red;
}

#dod label:after {
    background-color: coral;

}

#ré label:after {

    background-color: orange;

}

#réd label:after {

    background-color: gold;

}

#mi label:after {

    background-color: yellow;

}

#fa label:after {

    background-color: greenyellow;

}

#fad label:after {

    background-color: darkseagreen;

}

#sol label:after {

    background-color: darkturquoise;

}

#sold label:after {

    background-color: deepskyblue;

}

#la label:after {

    background-color: blueviolet;

}

#lad label:after {

    background-color: mediumorchid;

}

#si label:after {

    background-color: mediumvioletred;

}